<div class="navbar">
  <%= image_tag 'logo.jpg' %>
  <div>
    <%= link_to "home", root_path, class: "btn btn-outline-dark" %>
    <%= link_to "New category", new_category_path, class: "btn btn-outline-dark" %></div>
  </div>
</div>
